*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 #figures{
    display: grid; /* Torna o body um flex container */
    justify-content: center; /* Alinha o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  #figures img{
   width: 100%;
  }

  #figures figcaption{
    text-align: center;
    padding-bottom: 1.5rem;
  }

  h1, h2,#footer, nav a{
    font-family: "Quicksand", serif;
  }

  nav h1{
    color: white;
  }
  
  p, figcaption{
    font-family: "Roboto", serif;
  }

  header{
    background-color: #248232;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    color: white;
    z-index: 10;
  }

  header div{
    background-color: #248232;
    color: white;
    display: flex;
    justify-content: space-between;
  }

  header nav{
    background-color: #248232;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .nav-links {
    list-style: none;
    display: none; 
    flex-direction: column;
  }
  
  .nav-links li {
    margin: 10px 0;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .hamburger {
    display: flex;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
     margin-left: auto; /*mantém o hamburguer no lado esquerdo, sem oscilar pra direita ao ser clicado */
  }
  
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: white;
  }
  main h2{
    text-align: center;
    padding-top: 3rem;
  }

  .nav-links.active{
    display: flex;
  }

footer{
    background-color: #248232;
    padding: 2.1em;
    text-align: center;
  }
  
  footer #footer{
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    font-size: large;
    color: white;
  }
  
  footer #lastModified{
    color: white;
  }

 